*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body    {
    background-color: white;
}
h1 {
    color: white;
    background-color: hsla(360, 100%, 50%, 0.1);
}
canvas  {
    background-color: hsla(0, 0%, 6%, 1.0);
    border: 10px solid rgb(124, 123, 123);
}